<html>
<head>
    <!-- jQuery -->
    <script src="/static/node_modules/patternfly/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/node_modules/patternfly/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PatternFly -->
    <link href="/static/node_modules/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
    <link href="/static/node_modules/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">
    <!-- Fork me on Github ribbon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <title>Review queue for {{ user }}</title>
</head>

<body class="cards-pf container-cards-pf">
  <small class="text-muted">{% include 'commit.jinja2' %}</small>

  <a class="github-fork-ribbon" href="https://github.com/vrutkovs/github-review-dashboard" title="Fork me on GitHub" target="_blank">Fork me on GitHub</a>
  <h1 id="headline" class="text-center">Building a PR review queue for {{user}}, please wait...</h1>

  <div id="progressbar-container" class="progress progress-xs">
    <div class="progress-bar" role="progressbar" id="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    </div>
  </div>

  <div id='cards' class="container-fluid container-cards-pf">
  </div>

  <script>
    $(document).ready(function() {
      // Load cards from websocket
      var row_id = -1;
      var card_id = 0;
      var row_obj;
      var sock = new WebSocket('ws://' + window.location.host + '{{ws_url}}')
      sock.onmessage = function(event) {
        try {
          dta = $.parseJSON(event.data);
          if ('progress' in dta) {
            // Update progress bar
            $("#progressbar").css("width", dta.progress+"%");

          } else if ('end' in dta) {
            // Change the headline when loading is done
            if (card_id == 0) {
              $('#headline').text('PR review queue is empty. Good job!');
            } else {
              $('#headline').text('PR review queue for {{user}}');
            }
            $("#progressbar-container").hide();
          }

        } catch (e) {
          // If the sent data is not JSON - add this as a card
          if (Math.floor(card_id / 2) != row_id) {
            row_obj = $('#cards').append(row_str = '<div class="row row-cards-pf">');
            row_id++;
          }
          row_obj.append(event.data);
          card_id++;

          // Open PR link when a card is clicked
          $(".card-pf").unbind('click').click(function(e){
            var target = e.target;
            if ($(target).not('a')) {
              window.open($(this).data("link"));
            }
          });
        }
      };
      sock.onopen = function(){
        sock.send("ready");
      };
    });
  </script>
</body>
</html>
